header{
    margin-top: 45px;
    width: 960px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(41, 122, 122);
    
}
aside{
    width: 200px;
    height: 600px;
    float: left;
    line-height: 600px;
    display: inline;
    background-color: rgb(43, 226, 211);
}
section{
    width: 380px;
    height: 200px;
    line-height: 200px;
    float: left;
    display: inline;
    

}
div{
    width: 190px;
    height: 250px;
    float: left;
    display: inline;
    line-height: 250px;
    

}
.i{
    width: 760px;
    height: 150px;
    float: left;
    display: inline;
    background-color: rgb(154, 156, 231);
    margin-bottom: 35px;
    line-height: 150px;
}