.c{
    background-color: rgb(243, 62, 101);
}
.d{
    background-color: rgb(113, 225, 238);
    
}
.e{
    background-color: rgb(200, 200, 186);

}
.f{
    background-color: rgb(83, 197, 63);

}
.g{
    background-color: rgb(214, 71, 46);
}
.h{
    background-color: rgb(84, 155, 120);
}